@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

footer{
    background-color: #555;
    color: white;
    padding: 15px;
}

h3{
    padding: 1em;
}

.dl-horizontal dt
{
    padding:10px;
    white-space: normal;
}
.dl-horizontal dd
{
    padding:10px;
    white-space: normal;
}

pre{
	margin-top:20px;
	margin-bottom:20px;
}

.navbar-inverse{
  border-radius: 0;
}

body > div.row {
    margin-right: 0px;
}

.flex-content-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.flex-content {
	flex: 1;
}
.content-container {
    margin-left: 25%;
    margin-right: 25%;
}
@media only screen and (max-width: 800px) {
    .content-container {
        margin-left: 5%;
        margin-right: 5%;
    }
}

nav {
    border-bottom: 1px solid lightgrey;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}