.btn {
    margin: 0.1em 0.1em 0.1em 0.1em;
}

.square-grid-base {
    display: grid;
    justify-content: center;
    align-content: center;
}

.square-grid-20 {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(20, 3em);
    grid-template-rows: repeat(20, 3em);
}

.square-grid-5 {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, 3vmax);
    grid-template-rows: repeat(5, 3vmax);
}

.square-grid-3 {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 3em);
    grid-template-rows: repeat(3, 3em);
}

.square {
    background: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.05vw solid black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}

.demo-card {
    padding: 2% 2% 2% 2%;
}

.scene-3d {
    height: 36vmax;
    transform-style: preserve-3d;
    //perspective: 30vmax;
}

.panel-3d {
	position: absolute;
    opacity: 0.6;
}